* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  width: 100%;
  display: inline-block;
  background-color: rgba(0,139, 139,0.8);
  padding: 10px 15px;
  margin: 0;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
}

.social,
.subscribe {
  display: flex;
  align-self: flex-end;
  margin-bottom: 20px;
}

.logo {
  align-self: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-two {
  flex: 2.5;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: auto;
  width: 300px;
}

/* Mobile Styles */
@media only screen and (max-width: 960px) {
  .first-item {
    order: 1;
  }
  .last-item {
    order: 0;
  }
  .fourth-item {
    order: 2;
  }
}
